<footer class="bg-light text-dark py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Về chúng tôi</h5>
        <p>Công ty chuyên cung cấp các khóa học trực tuyến.</p>
      </div>
      <div class="col-md-4">
        <h5>Liên hệ</h5>
        <ul class="list-unstyled">
          <li>Email: contact@yourcompany.com</li>
          <li>Điện thoại: 0123 456 789</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Theo dõi</h5>
        <a href="#" class="text-dark me-2"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-dark me-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-dark"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <hr />
    <p class="text-center mb-0">&copy; 2025 Your Company. All rights reserved.</p>
  </div>
</footer>